@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;700&display=swap');
:root{
    --primary:  #f5f5f5;
    --secondary:  #ffffff;
    --tertiary:  #5d5d5d;
    --black: #000000;

    /* Font Size desktop */
    --header-1:84px;
    --header-2:48px;
    --header-3:42px;
    --header-4:32px;

    
    --text-medium:18px;
    --text-regular:16px;
    --text-light:13px;

    /* Font Weight */
    --font-weight-bolder: 700;
    --font-weight-bold: 600;
    --font-weight-regular: 500;
    --font-weight-light: 100;
}
.section-title{
    font-size: var(--header-3);
    font-weight: var(--font-weight-light);
    line-height: 41px;
}

section.background,.background{
    padding: 5rem 0;
    background-color:var(--primary);
}

/* Navbar Setting */

.navbar{
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--font-weight-regular);
    padding: 25px 0px;
}


.navbar-brand img{
    padding-right: 16px;
    width: 150px;
}
/* Navbar Link Setup */

a.nav-link{
    margin-right: 20px;
    color: var(--tertiary);
    letter-spacing: 2.5px;
}


a.nav-link.active{
color:var(--black);
}

a.nav-link:hover{
    color:var(--black);
}

/* Navbar Link button */
.btn {
    padding: 15px 25px;
    border-radius: 6px;
    font-size: var(--text-regular);
    font-weight: var(--font-weight-bold);
}

.btn-primary{
    background-color: var(--primary);
    color: var(--tertiary);
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--primary);
    --bs-btn-hover-border-color: var(--primary);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--primary);
    --bs-btn-active-border-color:var(--primary);
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--primary);
    --bs-btn-disabled-border-color: var(--primary);
}
.btn-primary:focus{
    background-color: var(--tertiary);
    color: var(--primary);
}
.btn-primary:hover{
    background-color: var(--tertiary);
    color: var(--primary);
}

.btn-primary-active{
    background-color: var(--tertiary);
    color: var(--primary);
}

.btn-primary-active:hover{
    background-color: var(--primary);
    color: var(--tertiary);
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--primary);
    --bs-btn-hover-border-color: var(--primary);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--primary);
    --bs-btn-active-border-color:var(--primary);
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--primary);
    --bs-btn-disabled-border-color: var(--primary);
}

.px-custom{
    padding: 0px 12% ;
}
.mx-custom{
    margin: 10% 0px ;
}

.divider-custom{
    width: 30%;
    margin: 5% auto;
}

/* footer */
#footer{
    background:#404040;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}
#footer .footer-newsletter{
    padding: 50px 0;
    background: var(--tertiary);
}
#footer .footer-newsletter h4{
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
}
#footer .footer-newsletter form{
    margin-top: 30px;
    background: var(--tertiary);
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
}
#footer .footer-newsletter form input[type="email"]{
    border: 0;
    padding: 8px;
    width: calc(100% - 140px);
}
#footer .footer-newsletter form input[type="submit"]{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 30px;
    margin: 3px;
    background: #e96b56;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
}
#footer .footer-newsletter form input[type="submit"]:hover{
    background: var(--tertiary);
}
#footer .footer-top{
    background: var(--tertiary);
    border-top: 1px solid #474747;
    border-bottom: 1px solid #474747;
    padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info{
    margin-bottom: 30px;
}
#footer .footer-top .footer-info h3{
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}
#footer .footer-top .footer-info p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
}
#footer .footer-top .social-links a{
    font-size: 18px;
    display: inline-block;
    background: #545454;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
    
#footer .footer-top .social-links a:hover{
        background: #e96b56;
        color: #fff;
        text-decoration: none;
    }
#footer .footer-top h4{
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 12px;
    }
#footer .footer-top .footer-links{
        margin-bottom: 30px;
    }
#footer .footer-top .footer-links ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
#footer .footer-top .footer-links ul i{
    padding-right: 2px;
    color: #ec7f6d;
    font-size: 18px;
    line-height: 1;
}
#footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
#footer .footer-top .footer-links ul li:first-child{
    padding-top: 0;
}
#footer .footer-top .footer-links ul a{
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;

}
#footer .footer-top .footer-links ul a:hover{
    color: #e96b56;
}
#footer .footer-top .footer-contact{
    margin-bottom: 30px;
}
#footer .footer-top .footer-contact p{
    line-height: 26px;
}

#footer .copyright{
    text-align: center;
    padding-top: 30px;
}
#footer .credits{
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}