@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;700&display=swap');
:root{
    --primary:  #f5f5f5;
    --secondary:  #ffffff;
    --tertiary:  #5d5d5d;
    --black: #000000;

    /* Font Size desktop */
    --header-1:84px;
    --header-2:48px;
    --header-3:42px;
    --header-4:32px;

    
    --text-medium:18px;
    --text-regular:16px;
    --text-light:13px;

    /* Font Weight */
    --font-weight-bolder: 700;
    --font-weight-bold: 600;
    --font-weight-regular: 500;
    --font-weight-light: 100;
}


/* Navbar Setting */

.navbar{
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--font-weight-regular);
    padding: 25px 0px;
}


.navbar-brand img{
    padding-right: 16px;
    width: 150px;
}
/* Navbar Link Setup */

a.nav-link{
    margin-right: 20px;
    color: var(--tertiary);
    letter-spacing: 2.5px;
}


a.nav-link.active{
color:var(--black);
}

a.nav-link:hover{
    color:var(--black);
}

/* Navbar Link button */
.btn {
    padding: 15px 25px;
    border-radius: 6px;
    font-size: var(--text-regular);
    font-weight: var(--font-weight-bold);
}

.btn-primary{
    background-color: var(--primary);
    color: var(--tertiary);
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--primary);
    --bs-btn-hover-border-color: var(--primary);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--primary);
    --bs-btn-active-border-color:var(--primary);
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--primary);
    --bs-btn-disabled-border-color: var(--primary);
}
.btn-primary:focus{
    background-color: var(--tertiary);
    color: var(--primary);
}
.btn-primary:hover{
    background-color: var(--tertiary);
    color: var(--primary);
}

.px-custom{
    padding: 0px 15% ;
}

.divider-custom{
    width: 30%;
    margin: auto;
}