
/* Hero Section */

.text-label,.text-hero-bold,.text-hero-regular{
    margin: 24px 0;
}

.text-label{
    color: var(--tertiary);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}

.text-hero-bold{
    color: var(--tertiary);
    font-size: var(--header-1);
    font-weight: var(--font-weight-light);
    line-height: 74px;
    letter-spacing: -3px;
}
.text-hero-regular{
    color: var(--tertiary);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}



/* Testimonial css */
.testimonial p {
    
    line-height: 19px;
    font-size: 13px;
    margin-top: 16px;
  }
  
  .testimonial h5 {
    color: var(--tertiary);
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 8px;
  }


  
  .col-md-4 {
    margin-top: 25px;
  }

  .hero-image{
    width: 80%;
  }

  @media (max-width: 1200px) {  
     .hero-image{
    width: 80%;
    margin-top: 20%;
  } 

}
