
/* Hero Section */
section.background{
    padding: 5rem 0;
    background-color:var(--primary);
}
.text-label,.text-hero-bold,.text-hero-regular{
    margin: 24px 0;
}

.text-label{
    color: var(--tertiary);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}

.text-hero-bold{
    color: var(--tertiary);
    font-size: var(--header-1);
    font-weight: var(--font-weight-light);
    line-height: 74px;
    letter-spacing: -3px;
}
.text-hero-regular{
    color: var(--tertiary);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}

.section-title{
    font-size: var(--header-3);
    font-weight: var(--font-weight-light);
    line-height: 31px;
}


/* Testimonial css */

.testimonials{

    height: 100vh;
}


.card{

    border: none;
    border-radius: 10px;
    height: 200px;
  
}
span{
    color: #db558d;;
}

.about{

    background-color: #940641;;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border:0;

}


.about img{
    margin-top: -68px;
    border: 5px solid white;
}

@media(max-width:768px){
    .card{
        height: 300px;
    }
}